body {
  background: #8747;
  background-image: url(https://cdn.statically.io/img/wallpaperplay.com/walls/full/b/b/3/16516.jpg);
  background-blend-mode: soft-light;
}
header {
  margin-bottom: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.utensils-top {
  width: 160px;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  background: #9b1;
  cursor: pointer;
  position: absolute;
  margin-left: 17%;
  margin-top: 39px;
}
.kitchen {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
}

.enough {
  text-align: center;
  font-size: 60px;
  font-family: acme;
  color: rgb(46, 187, 95);
  text-shadow: 2px 2px 15px black;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.cooking {
  text-align: center;
  font-size: 60px;
  font-family: acme;
  color: rgb(46, 157, 95);
  text-shadow: 2px 2px 15px black;
  text-decoration: 3px line-through darkred;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.bottom-text {
  margin-top: 0;
  width: 100%;
}
.cravings {
  text-align: center;
  font-size: 70px;
  font-family: acme;
  text-shadow: 2px 2px 15px black;
  margin-top: 0;
  margin-left: 9%;
  padding-top: 0px;
  color: rgb(46, 187, 95);
}
#search {
  width: 100%;
  height: 60px;
  font-size: 30px;
  /* margin-bottom: 120px; */
  /* margin-right: 0; */
  border-radius: 50px 0px 0 50px;
  border: none;
  outline: inherit;
  caret-color: white;
  background: #333;
  color: white;
  margin-left: 50px;
}

input[type="submit"] {
  text-align: center;
  font-size: 25px;
  height: 62.4px;
  width: 75px;
  border-radius: 0 50px 50px 0;
  border: none;
  background: #333;
  /* position: absolute; */
  /* margin-left: 46.2%; */
  outline: none;
  font-family: catamaran;
  margin-top: 0px;
  color: #fff9;
  margin-right: 50px;
}
input[type="submit"]:hover {
  /* background: #ddd5; */
  cursor: pointer;
  font-size: 30px;
}
form {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
}
.nav {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #bd89;
  border: 3px solid #0006;
  height: 100px;
}
.recommendations {
  display: flex;
  justify-content: center;
}
.intro-title {
  font-size: 30px;
  text-align: center;
  font-family: bebas neue;
  margin-bottom: 90px;
  color: #ffb;
  text-shadow: 0px 0px 20px black;
  border: 1px solid;
  width: 700px;
  /* margin-left: 32%; */
  background: #ffb9;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* //////////// intro pictures ////////// */
.food-text {
  font-size: 50px;
  margin-left: 60px;
  color: white;
  font-family: dela gothic one;
  text-shadow: 5px 2px 10px black;
}
.vegan {
  margin-left: 25%;
  width: 170px;
  border-radius: 50%;
}
.sushi {
  margin-left: 25%;
  width: 170px;
  border-radius: 50%;
}
.soups {
  margin-left: 25%;
  width: 170px;
  border-radius: 50%;
}
.pasta {
  margin-left: 25%;
  width: 170px;
  border-radius: 50%;
}
.mediterranean {
  margin-left: 25%;
  width: 170px;
  border-radius: 50%;
}
.desserts {
  margin-left: 25%;
  width: 170px;
  border-radius: 50%;
}
.recom-div {
  /* border: 2px solid; */
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

#main-container {
  /* margin-top: 10%; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.images {
  border-radius: 8px;
  width: 70%;
  box-shadow: 0px 0px 30px #000;
}
.images:hover {
}
.title {
  font-size: 35px;
  text-align: center;
  font-family: lexend;
  width: 80%;
  margin-bottom: 14px;
  font-weight: 400;
  color: white;
}

.small {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  margin: 0px 0px 90px 0px;
  /* border: 2px solid; */
  /* background: #b949; */
}

.have-it {
  font-size: 25px;
  text-align: center;
  background: #2222;
  font-weight: 100;
  font-family: acme;
  width: 42%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f479;
  border-radius: 4px;
}

.ingredients:hover {
  color: #0007;
}

.ingredients {
  font-size: 20px;
  color: #0009;
  list-style-type: none;
  font-family: Libre Franklin;
  cursor: default;
}
.health {
  font-size: 27px;
  color: #0009;
  list-style-type: none;
  font-family: Libre Franklin;
}

.fas {
  font-size: 35px;
  color: #2229;
  top: 10px;
  position: absolute;
  right: 17px;
  cursor: pointer;
}
.fas:hover {
  font-size: 40px;
  top: 9px;
  right: 16px;
  color: #0009;
}
.modal-container1 {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
}
.modal-container2 {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
}
.modal-container1.show {
  opacity: 1;
  pointer-events: auto;
}
.modal-container2.show {
  opacity: 1;
  pointer-events: auto;
}
.modal1 {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.modal2 {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  text-align: center;
  border-radius: 20px;
  position: relative;
}
.underDiv {
  width: 70%;
  display: flex;
  justify-content: center;
  align-content: space-between;
  /* background: black; */
}
.underBtn {
  background: #fff5;
  border: 1px solid #0009;
  height: 36px;
  width: 100%;
  margin-top: 8px;
  outline: none;
  font-size: 19px;
  font-family: catamaran;
  color: #ddd;
  text-align: center;
  /* margin: 10px; */
}
.underBtn:hover {
  background: #8d89;
  cursor: pointer;
  color: #333;
}
.url {
  text-decoration: none;
  font-size: 25px;
  border: 2px solid #fff9;
  width: 69%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
  color: white;
  background: #3338;
  font-family: catamaran;
}
.url:hover {
  background: #bb79;
  font-size: 26px;
  color: #ddd;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: rgb(125, 204, 125);
}

.navPlaceholder {
  height: 100px;
}
.right-text {
  display: flex;
  order: 3;
  text-align: center;
  font-family: bangers;
  font-size: 25px;
  /* margin-left: 55px; */
  color: rgb(196, 223, 90);
  text-shadow: 0 0 6px black;
}
.left-text {
  display: flex;
  text-align: center;
  font-family: bangers;
  font-size: 25px;
  /* margin-left: 65px; */
  color: rgb(232, 149, 90);
  text-shadow: 0 0 6px black;
}

.intro-image {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 150px;
}

.foot-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #aaa2; */
  margin-bottom: 50px;
}

.kitchen-bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
}
.enough-foot {
  text-align: center;
  font-size: 30px;
  font-family: acme;
  color: rgb(46, 187, 95);
  text-shadow: 2px 2px 15px black;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.cooking-foot {
  text-align: center;
  font-size: 30px;
  font-family: acme;
  color: rgb(46, 157, 95);
  text-shadow: 2px 2px 15px black;
  text-decoration: 3px line-through darkred;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.cravings-foot {
  text-align: center;
  font-size: 40px;
  font-family: acme;
  text-shadow: 2px 2px 15px black;
  margin-top: 0;
  margin-left: 28%;
  padding-top: 0px;
  color: rgb(46, 187, 95);
}
.utensils-bottom {
  width: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  background: #9b1;
  margin-right: 30px;
  cursor: pointer;
}

/* ////////////////////////////// MOBILE FRIENDLY /////////////////////// */

/* FOR MOBILE DEVICES */

@media (max-width: 700px) {
  .food-text {
    font-size: 30px;
  }

  .vegan,
  .soups,
  .sushi,
  .pasta,
  .desserts,
  .mediterranean {
    width: 120px;
  }
  .small {
    width: 40%;
    margin: 19px;
  }
  .images {
    width: 100%;
  }
  .utensils-top {
    margin-left: 4%;
    margin-top: 4%;
    width: 15%;
  }
  .utensils-bottom {
    /* width: 50px; */
    /* margin-left: 90px; */
    /* position: absolute; */
  }
  .enough,
  .cooking,
  .cravings {
    font-size: 40px;
  }
  .bottom-text,
  .kitchen {
    margin-left: 90px;
  }

  .cravings {
    margin-right: 70px;
  }
  .left-text,
  .right-text {
    font-size: 14px;
  }
  form {
    width: 100%;
  }
  input[type="submit"] {
    margin-right: 0px;
    height: 62px;
  }
  #search {
    margin: 0;
  }
  .title {
    font-size: 25px;
    width: 100%;
  }
  .url {
    width: 100%;
  }
  .underDiv {
    width: 100%;
  }
  .nav {
    height: 70px;
  }
  .modal1 {
    width: 60%;
    height: 500px;
  }
  .ingredients {
    font-size: 12px;
  }
  .have-it {
    font-size: 15px;
  }
  .health {
    font-size: 20px;
  }
}

/* larger mobile screens  */

@media (min-width: 701px) and (max-width: 1000px) {
  .small {
    width: 40%;
    margin: 19px;
  }
  .images {
    width: 90%;
  }
  .utensils-top {
    margin-left: 12%;
    margin-top: 2%;
    width: 12%;
  }
  .utensils-bottom {
    /* width: 50px; */
    /* margin-left: 90px; */
    /* position: absolute; */
  }
  .enough,
  .cooking,
  .cravings {
    font-size: 40px;
  }
  .bottom-text,
  .kitchen {
    margin-left: 90px;
  }

  .cravings {
    margin-right: 70px;
  }
  .left-text,
  .right-text {
    font-size: 19px;
  }
  form {
    width: 60%;
  }
  input[type="submit"] {
    margin-right: 10px;
    height: 62px;
  }
  #search {
    margin-left: 10px;
  }
  .title {
    font-size: 28px;
    width: 100%;
  }
  .url {
    width: 87%;
  }
  .underDiv {
    width: 90%;
  }
  .nav {
    height: 80px;
  }
  .modal1 {
    width: 60%;
    height: 500px;
  }
  .ingredients {
    font-size: 17px;
  }
  .have-it {
    font-size: 15px;
  }
}

/* smaller laptops and monitors  */

@media (min-width: 1001px) and (max-width: 1400px) {
  .small {
    width: 28%;
    margin: 19px;
  }
  .images {
    width: 90%;
  }
  .utensils-top {
    margin-left: 23%;
    margin-top: 1%;
    width: 9%;
  }
  .utensils-bottom {
    /* width: 50px; */
    /* margin-left: 90px; */
    /* position: absolute; */
  }
  .enough,
  .cooking,
  .cravings {
    font-size: 40px;
  }
  .bottom-text,
  .kitchen {
    margin-left: 90px;
  }

  .cravings {
    margin-right: 70px;
  }
  .left-text,
  .right-text {
    font-size: 19px;
  }
  form {
    width: 60%;
  }
  input[type="submit"] {
    margin-right: 15px;
    height: 62px;
  }
  #search {
    margin-left: 15px;
  }
  .title {
    font-size: 28px;
    width: 100%;
  }
  .url {
    width: 87%;
  }
  .underDiv {
    width: 90%;
  }
}
